{% extends 'base.html.twig' %}

{% block title %}Entreprises{% endblock %}

{% block body %}
    <h1>Votre liste des entreprises sur le CRM</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom entreprise</th>
                <th>N° SIREN</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for company in companies %}
            <tr>
                <td>{{ company.id }}</td>
                <td>{{ company.companyName }}</td>
                <td>{{ company.siren }}</td>
                <td>
                    <a href="{{ path('company_show', {'id': company.id}) }}">VOIR</a>
                    <a href="{{ path('company_edit', {'id': company.id}) }}">MODIFIER</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('company_new') }}">Créer une nouvelle entreprise</a>
{% endblock %}
